# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

data.pivot_table(index='children', 
                 columns=None, 
                 values='debt', 
                 aggfunc=['count', 'sum', 'mean']).round(3)

          count   sum   mean
           debt  debt   debt
children
0         14091  1063  0.075
1          4808   444  0.092
2          2052   194  0.095
3           330    27  0.082
4            41     4  0.098
5             9     0  0.000

**Вывод:**  При анализе данных выявленo что для 1го и 2х детей процент невозврата почти одинаковый (9,2% и 9,5% соответственно),однако, при 1 ребенке случаев не возврата кредита более в 2 раза, чем при 2х детях. Максимальный % не возврата кредита у клиентов с 4мя детьми. Хотя таких клиентов у банка всего 41(из 21331), такой маленький процент (>1%) не является  основанием чтобы сделать достоверные выводы. У клиентов с 5 детьми отсутствуют случаи не возврата кредита в срок. Также наименьший процент невозврата (7,5%) у бездетных. Слабая корреляция между возвратом кредита в срок и количеством детей

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

data['family_status_id'] = data['family_status_id'].replace({0:'женат / замужем', 1:'гражданский брак', 2:'Не женат / не замужем', 3:'в разводе',4:'вдовец / вдова'})
display(data.pivot_table(index=['family_status_id'], values='debt', aggfunc=['count','sum','mean']))

                       count  sum      mean
                        debt debt      debt
family_status_id
Не женат / не замужем    951   63  0.066246
в разводе               1189   84  0.070648
вдовец / вдова          2796  273  0.097639
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

In [27]:
# Код ревьюера
data.pivot_table(index=['family_status'], values='debt', aggfunc=['count','sum','mean'])

                       count  sum      mean
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

**Вывод:**  Mаксимальный % должников кредита у клиентов с семейным положением "вдовец / вдова" и "гражданский брак" (9,76 и 9,31% соответственно).  У клиентов с семейным положением "не женат / не замужем" самый низкий % не возврата - 6,62, следом идут те, кто в разводе - 7,06%.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
display(data.pivot_table(index=['total_income_category'], values='debt', aggfunc=['count','sum','mean']))

                       count   sum      mean
                        debt  debt      debt
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

**Вывод:**
Клиенты с доходом 50 001–200 000 берут кредит в три раза чаще остальных категорий граждан (15 921 среди 21 331 клиентов). Однако, возвращают его менее охотно, чем следующие по популярности в этой категории граждане с доходом 200 001-1 000 000 - так 8,49% против 7% соответственно. Можно сделать вывод, что чем выше доход у клиента, тем ответственнее он относится к обязательствам по кредиту.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
display(data.pivot_table(index=['purpose_category'], values='debt', aggfunc=['count','sum','mean']))

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

**Вывод:** Максимальная просрочка у клиентов с целью кредита "операции с автомобилем" и "получение образования" (9,34 и 9,25 соответственно). Самый низкий % не возврата у клиентов категории "операции с недвижимостью"- 7,25%. При том, что количество клиентов с целью кредита "операции с недвижимостью" равно с суммой количества клиентов по другим 3 категориям. Здесь, вероятно, играет роль величина суммы кредита.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски были выявлены в столбцах 'days_employed', что может быть связано с тем, что часть клиентов затруднились с подсчетом трудового стажа в днях; а также в столбце 'total_income', стоит предположить, что клиенты банка не пожелали озвучивать сумму реальных доходов.Более того количество пропусков в столбцах одинаковы, можно сделать вывод, что заполнение одного из столбцов влияет на заполненность другого столбца.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* медианное значение лучше всего отражает выборку в целом, в случае, если есть незаполненные данные. A cреднее арифметическое отражает ситуацию некорректно, так как не учитывает разброс данных.

In [26]:
#соотнесем семейное положение с количеством детей
display(data.pivot_table(index=['family_status_id', 'children'], values='debt', aggfunc=['count','sum','mean']))

                               count  sum      mean
                                debt debt      debt
family_status_id      children
Не женат / не замужем 0          847   53  0.062574
                      1           77    7  0.090909
                      2           20    3  0.150000
                      3            6    0  0.000000
                      4            1    0  0.000000
в разводе             0          784   55  0.070153
                      1          312   21  0.067308
                      2           81    7  0.086420
                      3           11    1  0.090909
                      4            1    0  0.000000
вдовец / вдова        0         2262  210  0.092838
                      1          449   52  0.115813
                      2           75    9  0.120000
                      3            8    1  0.125000
                      4            2    1  0.500000
гражданский брак      0         2730  229  0.083883
                      1          995  118  0.118593
                      2          343   30  0.087464
                      3           56    8  0.142857
                      4            8    0  0.000000
                      5            2    0  0.000000
женат / замужем       0         7468  516  0.069095
                      1         2975  246  0.082689
                      2         1533  145  0.094586
                      3          249   17  0.068273
                      4           29    3  0.103448
                      5            7    0  0.000000


Среди всех категорий граждан абсолютным лидером по оформлению кредита являются бездетные. Стоит заметить, что семейные бездетные берут вверх в этом списке. А вот чаще всего его не возвращают вдовы/вдовцы с двумя и более детьми, процент невозврата увеличивается от 12% до 50% по мере увелечения количества детей. Семейные клиенты имеют меньшую задолженность банку, чем клиенты, состоящие в гражданском браке вне зависимости от количества детей.

### Шаг 4: общий вывод.


 Кредитным отделом банка была предоставлена статистика о платежеспособности клиентов. 
    
Основной задачей было проследить наличие взаимосвязи между семейным положением клиента на факт погашения кредита в срок.
    
В данном исследовании были проведены следующие действия:

1. Импортированы и изучены данные.
2. Обработаны аномальные значения, пропуска, дубликаты. Скорректированы типы данных.
3. Категоризирован уровень дохода и цели кредита.
4. Проведен анализ зависимости основных факторов на целевую переменную.   
    
При проведении исследования предоставленой банком статистики о платёжеспособности клиентов были выявлены зависимости между семейным положением клиента и количеством детей на факт погашения кредита в срок. Так:
    
 -Клиенты с семейным положением 'не женат' и 'в разводе' охотнее всего погашают кредит в срок.
    
 -Одинаковый процент задолженности по кредиту у разведенных с 3мя детьми и не женатых с одним ребенком -9%. 
 
 -Среди женатых и состоящих в гражданском браке больше всего задолженности у клиентов с 2мя детьми- 8.26% и 8.74% соответственно. 
 
 -Кредит чаще берут те, у кого нет детей(они же его и погашают с меньшей просрочкой), а чем детей больше - тем меньше желающих. 
 
 -Больше всего берут и погашают кредиты своевременно связанные с недвижимостью.
    

    
 В целях снижения уровня просроченных кредитов банку рекомендовано пересмотреть скоринговую политику в отношении следующих групп клиентов:

   -клиентов с 2мя и более детьми;
    
   -не женатых/холостых, а также клиентов, проживающих в гражданском браке;
    
   -клиентов, подающих заявку на автокредитование.
    
   -многодетных вдовцов и вдов
    
Таким образом банку следует скоректировать кредитную политику в отношении семейного клиента с 2мя детьми берущего кредит на покупку автомобиля с уровнем дохода менее 30 000. Не обязательно, что все эти факторы должны совпасть, однако, одновременное наличие некоторых из них может говорить о возможных просрочках в будущем.
 
Идеальным заемщиком для банка является человек без детей, состоящий или состоявший в официальных отношениях, имеющий уровень дохода выше среднего и берущий деньги на недвижимость.